// colors
%yellow {
    color: #FFBF50;
}

%brown {
    color: #1F1915;
}

%gray {
    color: #A1A1A1;
}

%pink {
    color: #FF5050;
}

%white {
    color: #ffffff;
}

%bgyellow {
    background-color: #FFBF50;
}

%bgbrown {
    background-color: #1F1915;
}