// fonts
%osans {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%oswald {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
}