// Медиа запросы
// Планшеты
@media (max-width: 768px) {
    .container {
        max-width: 690px;
        padding-left: 39px;
        padding-right: 39px;
    }
    .wrapper {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    //header
    .header {
        position: relative;
    }
    .header_main_item {
        margin-top: 25px;
    }
    .header_nav.active {
        padding-top: 12px;
        background: url(/img/2qubs_for_menu.svg), url(/img/2qubs_for_menu.svg);
        background-position: -3% -23px, 103% 48px;
        background-repeat: no-repeat;
    }
    .top_header_nav.active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 307px;
        background-color: #1F1915;
        padding-top: 50px;
        z-index: 50;
    }
    .bottom_header_nav.active {
        padding-top: 50px;
    }
    .bottom_menu {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_burger {
        display: block;
    }
    .top_menu_burger.active {
        position: absolute;
        top: 12px;
        right: 39px;
        background-image: url(/img/menu-close.svg);
    }
    .bottom_menu_burger {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .bottom_menu_burger.active {
        position: absolute;
        top: 12px;
        right: 39px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
        background-image: url(/img/menu-close.svg);
    }
    .bottom_menu_burger_text {
        display: inline-block;
        margin-left: 18px;
        color: #A1A1A1;
        font-family: Oswald;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .bottom_logo.active {
        display: flex;
        justify-content: center;
    }
    .display_none {
        display: none;
    }
    .top_logo.active {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .nav-menu {
        display: none;
    }
    .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-menu ul li {
        margin-bottom: 25px;
    }
    .nav-menu ul li a {
        padding-right: 0;
    }
    .top_nav-menu.active ul li:last-child {
        margin-bottom: 0;
    }
    .active {
        display: block;
    }
    .header_main_text {
        max-width: 440px;
    }
    .header {
        padding-bottom: 25px;
    }
    .header_main_text h1 {
        margin: 0;
    }
    .header_main_text p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    //reasons
    .reasons_items {
        flex-wrap: wrap;
    }
    .reasons_item {
        width: 50%;
    }
    //catalog
    .catalog_items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .catalog_item {
        width: 47%;
        margin-bottom: 25px;
    }
    .catalog_item:last-child {
        margin-bottom: 0;
    }
    .catalog_item:nth-child(1) {
        margin-right: 30px;
    }
    //application
    .application_items {
        flex-wrap: wrap;
    }
    //guarantee
    .guarantee {
        display: flex;
        width: auto;
    }
    //delivery
    .delivery_items {
        flex-wrap: wrap;
    }
    //contakts
    .contakts {
        display: flex;
        flex-wrap: wrap;
    }
    .contakts_order {
        width: 100%;
    }
    .contakts_order {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .order_form {
        margin-right: 30px;
    }
    .map {}
    //footer
    .footer {
        position: relative;
    }
}